[Desktop Entry]
Type=Application
Version=1.5
Name=SmartFileOrganizer
Comment=The SmartFileOrganizer
Categories=Game;
Icon=icon
Exec=SmartFileOrganizer