name: Build

on:
  workflow_dispatch: # allows manual triggering

  push:
    tags:
      - "v[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  dist:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
          build: [linux_x64, macos_arm64, windows_x64]
          include: 
            - build: linux_x64
              os: ubuntu-latest
            - build: macos_arm64
              os: macos-latest
            - build: windows_x64
              os: windows-latest


    steps:
      - name: Install Build Dependencies
        shell: bash
        run: |
          if [[ ${{ matrix.build }} == "macos_arm64" ]]; then
            brew install ninja cmake qt
          elif [[ ${{ matrix.build }} == "windows_x64" ]]; then
            choco install ninja cmake qt
          elif [[ ${{ matrix.build }} == "linux_x64" ]]; then
            sudo apt-get update
            sudo apt-get install ninja-build cmake qt6-base-dev
          fi

      - name: Checkout
        uses: actions/checkout@v5

      - name: Build release package
        shell: bash
        run: |
          mkdir build dist/${{ matrix.build }}
          cmake -B build -GNinja
          ninja -C build
          cp -r build/* dist/${{ matrix.build }}

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-linux
          path: |
            dist/${{ matrix.build }}